{% load static %}
{% load rightpanel %}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{% static 'django_cyversedev/js/cyverse.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'django_cyversedev/css/cyverse.css' %}">
</head>
<body>


<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <a class="navbar-brand text-white" href="#"> <img height="25" width="30" class="d-inline-block align-top mr-2" alt=""/>Bioviz</a><a
        class="navbar-brand text-white" href="#">| IGB - Cyverse Data</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Sign Out</button>
        </form>
    </div>
</nav>

<!-- Content -->
<div class="content container-fluid">
    <!-- left Div -->
    <div class="row">
        <div class="left col-2 bg-light">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action"><i class="fas fa-home mr-1"></i>Home
                </button>
                <button type="button" onclick="getShareFileList('/iplant/home', '5', '0', 'NAME','ASC')" class="list-group-item list-group-item-action"><i
                        class="fas fa-user-plus mr-1"></i>Shared Folder
                </button>
                <button type="button" onclick="getCommunityData('/iplant/home/shared/', '5', '0', 'NAME', 'ASC')" class="list-group-item list-group-item-action"><i class="far fa-clock mr-1"></i>Community
                    Data
                </button>
            </div>
        </div>
        <!-- middle div -->
        <div class="middle table-responsive col-10">
            {% block middlepanel %} {% endblock %}
        </div>
        <!-- right div -->
        <div class="right col-3 bg-light">
            {% block rightpanel %} {% endblock%}
        </div>
    </div>
</div>

</body>
</html>
