{% extends "base.html" %}
{% load rightpanel %}
{% load static %}
{% block middlepanel %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

    </ol>
</nav>
<div class="bg-light" id="actionButton">
    <button class="btn btn-light" title="Share with Collaborators" onclick="complete()"><i
            class="fas fa-user-plus mr-1"></i></button>
    <button class="btn btn-light" title="Make Link Public/Private" onclick="rightPanel('#makePublic')"><i
            class="fas fa-link mr-1"></i></button>
    <button class="btn btn-light" title="Show MetaData" onclick="rightPanel('#metadata')"><i
            class="fas fa-comment-alt mr-1"></i></button>
    <button class="btn btn-light" title="Analyze Data" onclick="complete()"><i class="fas fa-search mr-1"></i></button>
    <button class="btn btn-light" title="Download File" onclick="complete()"><i class="fa fa-download mr-1"></i>
    </button>

</div>
<table id="fileFolder" class="table text-muted">
    <thead>
    <tr class="bg-light">
        <th scope="col-sm-2">Name</th>
        <th scope="col-sm-3">Last Modified</th>
        <th scope="col-sm-3">Size</th>
        <th scope="col-sm-3"></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
{% block rightpanel %}
{% rightpanel_render %}
{% endblock %}
