{% load static %}
.content{
overflow: hidden;
}

.left,.right,.middle{
float:left;
}
.right{
display:none;
transition: 0.2s;
overflow: auto;
}
.middle{
border:solid #eee;
height:92vh;
}
.opentab{
display:block;
}
.closetab{
display:none;
}
table{
	overflow:auto;
	table-layout: fixed;
}
tr{
cursor: pointer;
}
tr:hover{
	background:#eef;
}
td  {
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
footer{
height:100px;
background-color: #aaa;
}
.cbtn{
height:15px;
}
.show{
	visibility: visible;
}
.hide{
	visibility: hidden;
}
.active{
background:#eef;
}
#contextMenu {
position: absolute;
display:none;
}

#actionButton{
	position:fixed;
	width:100%;
}



